<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foolstack-app</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>
            My Reading Wishlist
        </h1>
        <img src="/sample.jpeg" alt="">
    </header>
    <main>
        <h1 class="subtitle">List of books <a id="anchor" href="__anchor"></a></h1>
        <div class="books">
            <form action="/books" method="POST">
                <input type="text" name="bookName" id="" placeholder="Ex: Dune">
                <input type="text" name="author" id="" placeholder="Ex: Frank Herbert">
                <input type="text" name="pages" id="" placeholder="Ex: 586">
                <label for="name">Did I read this already?</label>
                <input type="checkbox" name="read" id="">
                <label for="date"></label>
                <input type="date" name="date" id="">
                <select name="genre" id="">
                    <option value="horror">Horror</option>
                    <option value="action">Action and Adventure</option>
                    <option value="nonfic">Non-Fiction and Educational</option>
                    <option value="romance">Romance</option>
                </select>
                <button type="submit">ENTER BOOK</button>
            </form>
        </div>
        <div class="buks">
            <ul class="buks">
            <% for (let i = 0; i < books.length; i++) {
                if(books[i].bookName !== ""){ %>       
                <li>
                    <span class="property">
                        Book
                    </span> "<span class="bookName"><%= books[i].bookName  %></span>"<br>

                    <span class="property">
                        Author
                    </span> <span class="author"><%= books[i].author  %></span> <br>

                    <span class="property">
                        Pages
                    </span> <%= books[i].pages  %>p.<br>

                    <span class="property">
                        Date
                    </span> <%= books[i].date  %><br>

                    <span class="property">
                        Read 
                    </span><span class="read"><% if(books[i].read == "on" || books[i].read == "Yes"){ %>
                    <%='Yes'%><% } else { %><%='No'%><% } %></span><br>

                    <button class="updater">Change Reading Status</button>
                    <button class="deleter">[X]</button>

                </li>
            <%} else { %>

                <!-- <li><%= "Someone forgot to write this book's name! How will we ever fix this oh no!!"  %></li> -->
            
            <% } } %>
        </ul>
        </div>
    </main>
    <footer>
        made by a-me! a-Mario! huehuehue
    </footer>
    <script src="logic.js"></script>
</body>
</html>