<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foolstack-app</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="titleBand">
        <h1>
            Reading Wishlist
        </h1>
    </header>
    <div class="subheader">
        <div class="imgBooks"></div>
    </div>
    <main>
        <h1 class="subtitle titleBand">&#128071;
             The Books &#128071;
             <a id="anchor" href="__anchor"></a></h1>
        <div class="buks">
            <ul class="buks">
            <% for (let i = 0; i < books.length; i++) {
                if(books[i].bookName !== ""){ %>       
                <li>
                        <span class="property">
                            Book
                        </span> "<span class="bookName"><%= books[i].bookName  %></span>" <hr>

                        <span class="property">
                            Author
                        </span> <span class="author"><%= books[i].author  %></span> <hr>

                        <span class="property">
                            Pages
                        </span> <%= books[i].pages  %>p. <hr>

                        <span class="property">
                            Date
                        </span> <%= books[i].date  %> <hr>

                        <span class="property">
                            Read 
                        </span><span class="read"><% if(books[i].read == "on" || books[i].read == "Yes"){ %>
                        <%='Yes'%><% } else { %><%='No'%><% } %></span> <hr>
            
                    <button class="updater">Change Status</button>
                    <button class="deleter">Remove</button>
        
                </li>
            <%} else { %>

                <!-- <li><%= "Someone forgot to write this book's name! How will we ever fix this oh no!!"  %></li> -->
            
            <% } } %>
        </ul>
        </div>
        <div class="books">
            <h2>Enter a new book</h2>
            <form action="/books" method="POST">
                <div class="wrap">
                    <input type="text" name="bookName" id="" placeholder="Ex: Dune" maxlength="20">
                    <label for="bookName">Book Name</label>

                </div>

                <div class="wrap">
                    <input type="text" name="author" id="" maxlength="20" placeholder="Ex: Frank Herbert">
                    <label for="author">Author</label>
                </div>

                <div class="wrap">
                    <input type="text" name="pages" id="" placeholder="Ex: 586">
                    <label for="pages">Pages</label>

                </div>
                <div class="wrap">           
                    <input type="checkbox" name="read" id="checkbux">
                    <label for="name">Read?</label>

                </div>
                <div class="wrap">
                    <input type="date" name="date" id="">
                    <label for="date">Date of Reading</label>

                </div>
                <div class="wrap">
                    <select name="genre" id="">
                    <option value="horror">Horror</option>
                    <option value="action">Action and Adventure</option>
                    <option value="nonfic">Non-Fiction and Educational</option>
                    <option value="romance">Romance</option>
                    </select>
                    <label for="genre">Genre</label>

                </div>

                <button class="formEnter" type="submit">SUBMIT BOOK</button>
            </form>
        </div>
    </main>
    <footer class="titleBand">
        Made by <a href="https://gabrielrengifoquo210.netlify.app/">Quo210</a>
    </footer>
    <div class="credits">
        <a href='https://www.freepik.com/vectors/encyclopedia'>Encyclopedia vector created by upklyak - www.freepik.com</a>
    </div>
    <script src="logic.js"></script>
    <script src="anims.js"></script>
</body>
</html>